<div class="container">
	<div class="row">
		<div class="base-menu">

			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fas fa-brain fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Piensa</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>
			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fas fa-eye fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Analiza</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>
			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fas fa-tools fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Actua</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>
			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fas fa-fire fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Crea</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>