<div class="container">
	<div class="row">
		<div class="col-6">
			<ul>
				<li>
					<a href="http://unsplash.com/photos/7NBO76G5JsE">
						<img src="http://images.unsplash.com/photo-1516205651411-aef33a44f7c2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c3f046fc34580ce265fdc17116bca02a&auto=format&fit=crop&w=500&q=60" />
					</a>
				</li>
				<li>
					<a href="http://unsplash.com/photos/alEZLDPPRBU">
						<img src="http://images.unsplash.com/photo-1529688499411-262f191fe29e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e792852cdfe94c89c561ffff69047cb0&auto=format&fit=crop&w=500&q=60" />
					</a>
				</li>
				<li>
					<a href="http://unsplash.com/photos/L0cbdz6_eYU">
						<img src="http://images.unsplash.com/photo-1509070016581-915335454d19?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1315ac6ca5cc07e38a83dbacef90dce&auto=format&fit=crop&w=500&q=60" />
					</a>
				</li>
				<li>
					<a href="http://unsplash.com/photos/rtMiBkMCOsw">
						<img src="http://images.unsplash.com/photo-1453235421161-e41b42ebba05?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0de86d5a41c8dfe5939693a119ed4ae3&auto=format&fit=crop&w=500&q=60" />
					</a>
				</li>
			</ul>
		</div>

		<div class="col-6">
			<div class="base-img">
				<div class="item-img p-5 mb-1 bg-success">
					<a href="##">
						<!--<img src="assets/img/img (1).jpg" />-->
					</a>
				</div>
				<div class="item-img p-5 mb-1 bg-primary">
					<a href="##">
						<!--<img src="assets/img/img (8).jpg" />-->
					</a>
				</div>
				<div class="item-img p-5 mb-1 bg-dark">
					<a href="##">
						<!--<img src="assets/img/img (9).jpg" />-->
					</a>
				</div>
				<div class="item-img p-5 mb-1 bg-danger">
					<a href="##">
						<!--<img src="assets/img/img (15).jpg" />-->
					</a>
				</div>
			</div>
		</div>

	</div>
	<div class="row bg-primary p-5"></div>
	<div class="row bg-success p-5"></div>
	<div class="row bg-danger p-5"></div>
	<div class="row bg-info p-5"></div>
</div>