<!--- Footer
    ================================================== -->

<footer id="footer" class="footer py-3 ">
	<div class="row">
		<div class="col-2"></div>

		<div class="col-8">
			<div class="row info">

				<div class="col-8 my-1 footer-info">
					<a href="#">Copyright &copy; {{autor}}. All Rights Reserved</a><br>
					<a href="#">{{autor}} {{anoCreacion}}</a>
				</div>
				<div class="col-4 my-1 base-contact-social">
					<div class="row contact-social">
						<a href="#0" class="col-6"><i class="fab fa-facebook fa-2x"></i></a>
						<a href="#0" class="col-6"><i class="fab fa-twitter fa-2x"></i></a>
						<a href="#0" class="col-6"><i class="fab fa-youtube fa-2x"></i></a>
						<a href="#0" class="col-6"><i class="fab fa-whatsapp fa-2x"></i></a>
					</div>
				</div>

			</div>
		</div>

		<div class="col-2"></div>
	</div>
	<div class="row" style="margin-top: 2%;">
		<div class="col-12 upgrade">
			<label>Ultima actualizacion: {{ fecha }}</label>
		</div>
	</div>
</footer>