@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

$body: 'Inconsolata', monospace;
$big: 'Merriweather', serif;

$white: #ffffff;
$black: #000;
$primary: #F2DAD7;
$secondary: #D1A39E;
$light: #CECDCA;
$dark: #474545;

$ease: all 0.3s ease-in-out;

body {
  font-family: $body;
  margin: 0;
}

button {
  cursor: pointer;
}

#portfolio {
  width: 100%;
  height: 100%;
  margin:0;
  background: $white;
  position: relative;
}

.project {
  position: relative;  
  padding: 0;
  width: 100%;
  background: $primary;
  overflow: hidden;
  min-height: 300px;  
  .project__image {
    width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    opacity: 0.9;
    width:100%;
    height: 100%;
  }
  p {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 3;
  }
  .grid__title {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    bottom: 0;
    font-weight: 100;
    font-size: 0.8em;
    z-index: 3;
    text-transform: uppercase;
    color: $dark;
    letter-spacing: 2px;
  }
  
}


@supports(object-fit: cover){
    .project img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

// project hover overlay
.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(darken($primary, 10%), .9);
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: $ease;
  button {
    background: none;
    outline: none;
    font-weight: 100;
    letter-spacing: 2px;
    border: 1px solid $white;
    color: $white;
    text-transform: uppercase;
    padding: 5px;
    &:hover {
      transition: $ease;
      background: $white;
      color: $secondary;
      transform: scale(1.05);
    }
  }
}

//project popup overlay

.overlay {
  position: fixed;
  background: rgba($dark, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}
.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: $black;
  width: auto;
  height: 700px;
  padding: 30px;
  position: relative;
  opacity: 1;
  img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: $dark;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover {
    color: $secondary;
  }
}

.project__image {
  margin-left: 0%;
  height: 100%;
  width: 100%;
}