<div class="container">
  <section id="portfolio" class="row">
    <div class="project col-3">
      <img class="project__image" src="assets/img/img (9).jpg" />
      <p>websites</p>
      <h3 class="grid__title">front-end</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>

    <div class="project col-3">
      <img class="project__image" src="assets/img/img (17).jpg" />
      <p>pure css</p>
      <h3 class="grid__title">front-end</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>

    <div class="project col-3">
      <img class="project__image" src="assets/img/img (1).jpg" />
      <p>web apps</p>
      <h3 class="grid__title">full-stack</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>

    <div class="project col-3">
      <img class="project__image" src="assets/img/img (17).jpg" />
      <p>daily ui</p>
      <h3 class="grid__title">ui/ux design</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>
    <div class="project col-3">
      <img class="project__image" src="assets/img/img (15).jpg" />
      <p>websites</p>
      <h3 class="grid__title">front-end</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>

    <div class="project col-3">
      <img class="project__image" src="assets/img/img (8).jpg" />
      <p>pure css</p>
      <h3 class="grid__title">front-end</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>

    <div class="project col-3">
      <img class="project__image" src="assets/img/img (17).jpg" />
      <p>web apps</p>
      <h3 class="grid__title">full-stack</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>

    <div class="project col-3">
      <img class="project__image" src="assets/img/img (1).jpg" />
      <p>daily ui</p>
      <h3 class="grid__title">ui/ux design</h3>
      <div class="grid__overlay">
        <button class="viewbutton">view more</button>
      </div>
    </div>

    <div class="overlay">
      <div class="overlay__inner">
        <button class="close">close X</button>
        <img />
      </div>
    </div>
  </section>
</div>
