<div class="container">
	<div class="row">
		<div class="base-menu">

			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fab fa-facebook fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Ejemplo 1</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>
			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fab fa-youtube fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Ejemplo 2</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>
			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fab fa-whatsapp fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Ejemplo 2</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>
			<div class="item-menu">
				<a href="#">
					<div class="ca-icon"><i class="fab fa-twitter fa-2x"></i></div>
					<div class="ca-content">
						<h2 class="ca-main">Ejemplo 2</h2>
						<h3 class="ca-sub">Personalized to your needs</h3>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>